<%= simple_form_for @cocktail do |f| %>
  <div>
    <%= f.error_notification %>
    <%= f.input :name %>
  </div>
<!--
  <div>
    <%# render 'form', dose: @dose %>
  </div>
 -->
  <div>
    <%= f.button :submit %>
  </div>
<% end %>
